ONBOOT=yes
TYPE=Ethernet
VLAN=yes
VLAN_NAME_TYPE=DEV_PLUS_VID_NO_PAD
DEVICE=vlan101
PHYSDEV=eth1
VLAN_ID=101
BOOTPROTO=static
{% if ansible_hostname == 'testClient2' %}IPADDR=10.10.10.1{% elif ansible_hostname == 'testServer2' %}IPADDR=10.10.10.254{% endif %} 
NETMASK=255.255.255.0
NM_CONTROLLED=no